.App {
  // background-color: #eee;
  height: 100vh;
  width: 100vw;
  background-image: url("");
}

.components-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.contents-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
